body {
    font-family: Poppins;
    font-weight: 400;
    background-color: #eee;
    text-align: center;
}

img {
    border: 2px rgb(143, 143, 255) solid;

}

h2,
h3,
i {
    color: rgb(143, 143, 255);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

.btn-link {
    padding: 10px;
    color: white;
    background-color: rgb(143, 143, 255);
    border: none;
    border-radius: 4px;
    font-size: 15px;
}

.btn-link:hover {
    cursor: pointer;
    background-color: rgb(74, 74, 252);
}

.container {
    width: 500px;
    margin: 0 auto;
}

.card {
    background-color: white;
    padding: 40px;
    margin: 20px 0;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
}

.list-inline {
    padding: 0;
}

.list-inline>li {
    display: inline-block;
    padding: 0px 20px;
}

.list-inline .fab:hover {
    color: rgb(74, 74, 252);
    cursor: pointer;
}

@media (max-width: 960px) {
    .container {
      width: 700px;
    }
  }
  @media (max-width: 720px) {
    .container {
      width: 500px;
    }
  }
  @media (max-width: 540px) {
    .container {
      width: 300px;
    }
  }